* {
    box-sizing: border-box;
}
body {
    background: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}
/* Mobile First View */
header {
    background-color: black ;
    overflow: hidden;
}
/* Heading Colour */
h1 {
    color: #780606;
    float: left;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}
#hamburger-checkbox {
    display: none;
}
/* Hamburger image colour and layout  */
#hamburger_image {
    background-color: none;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 10%;
}
/* Show or hide menu */
#hamburger_checkbox:not(:checked) + nav {
    display: hide;
}
/* Navigation text colour and layout */
nav a {
    color: #780606;
    float: left;
    font-size: 17px;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
/* Navigation hover and tab colour */
nav a:hover {
    background-color: white;
    color: black;
}
nav a:focus {
    background-color: white;
    color: black;
    outline: none;
}
/* Active navigation highlight colour */
.active_nav {
    background-color: #780606;
    color: white;
}
/* Medium devices (landscape tablets. 768px and up) */
@media only screen and (min-width: 768px) {
    /* Hide the hamburger menu */
    #hamburger_image {
        display: none;
    }
    /* Show the nav links */
    #hamburger_checkbox:not(:checked) + nav {
        display: block;
    }
    h1 {
        text-align: left;
        width: 390px;
    }
    nav {
        float: right;
    }
    nav a {
        width:auto;
    }
}
footer {
    background-color: lightgrey;
    padding: 10px 0 4px 0;
    text-align: center;
    width: 100%;
}
footer a {
    color: black;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}
footer a:hover {
    background-color: black;
    color: white;
}
footer a:focus {
    background-color: black;
    color: white;
    outline: none;
}
footer img {
    height: 22px;
    margin-left: 3px;
    vertical-align: text-bottom
}

